#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

/docs/http/ @kw7oe @rodoyle @P0st-N0-B1lls
/docs/javascript/ @okdistribute
/docs/csharp/ @phatblat
/docs/linux/ @okdistribute @rodoyle @thombles
/docs/android/ @abunur @phatblat
/docs/cpp/ @okdistribute
/docs/rust/ @rodoyle @kw7oe
/docs/ios/ @magicwave
/docs/common/security/ @thombles
/docs/common/ @okdistribute @contenuto


